@keyframes toBottom {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0;
  }
}

@keyframes slickToBottom {
  from {
    margin-bottom: 15px;
  }

  to {
    margin-bottom: -15px;
  }
}

@keyframes slickToBottom2 {
  0% {
    opacity: 0;
    margin-bottom: 15px;
  }

  25% {
    opacity: 1;
    margin-bottom: 7.5px;
  }

  50% {
    margin-bottom: 0;
  }

  75% {
    opacity: 1;
    margin-bottom: -7.5px;
  }

  100% {
    opacity: 0;
    margin-bottom: -15px;
  }
}

@keyframes toLeft {
  from {
    margin-right: 100px;
  }

  to {
    margin-left: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    rotate: (360deg);
  }
}
