@keyframes toBottom {
  // leftSideWrapper
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0;
  }
}

@keyframes slickToBottom2 {
  // promo_arrowToBottom
  0% {
    opacity: 0;
    margin-bottom: 15px;
  }

  25% {
    opacity: 1;
    margin-bottom: 7.5px;
  }

  50% {
    margin-bottom: 0;
  }

  75% {
    opacity: 1;
    margin-bottom: -7.5px;
  }

  100% {
    opacity: 0;
    margin-bottom: -15px;
  }
}

@keyframes toLeft {
  // leftSide_items
  0% {
    margin-right: 100px;
  }

  70% {
    margin-right: -10px;
  }

  100% {
    margin-right: 0;
  }
}

@keyframes rotate {
  // mobileMenuButton
  from {
    transform: rotate(0);
  }

  to {
    rotate: (360deg);
  }
}

@keyframes show {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes draw {
  0%{
    stroke-dashoffset: 336.131591796875;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100%{
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes showFill{
  0%{
    fill-opacity: 0;
  }

  25%{
    fill-opacity: 1;
  }

  75%{
    fill-opacity: 1;
  }

  100%{
    fill-opacity: 0;
  }
}

@keyframes showPreloadText{
  100%{
    transform: translate(0,0);
  }
}
