@import "../scss/vars";
@import "../scss/mixins/font-face";
@import "../scss/mixins/breakpoint";
@import "../scss/fonts";
@import "../scss/blocks/main-header.scss";
@import "../scss/blocks/main-promo.scss";
@import "../scss/blocks/main-sides.scss";
@import "../scss/blocks/main-slider.scss";
@import "../scss/blocks/main-block-1.scss";
@import "../scss/blocks/main-block-2.scss";
@import "../scss/blocks/main-block-3.scss";
@import "../scss/blocks/main-block-4_cases.scss";
@import "../scss/blocks/main-block-5.scss";
@import "../scss/blocks/main-block-6.scss";
@import "../scss/blocks/main-block-7.scss";
@import "../scss/blocks/main-forms.scss";
@import "../scss/blocks/main-grids.scss";
@import "../scss/blocks/main-footer.scss";
@import "../scss/blocks/backgrond-blocks.scss";

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: linear-gradient(#ebeff2 87%, #cedae2 95%, #c7ced3 97.19%);
  margin: 0;
  padding: 0;

  font-family: "Nekst", sans-serif;
  font-weight: 400;
  color: #3e496a;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
}

h2 {
  font-size: 64px;
  line-height: 46px;
  letter-spacing: 0em;
}

h3 {
  margin: 60px 0 24px;
  font-size: 58px;
  text-align: center;
  color: #fff;
}

h4 {
  font-size: 30px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 0em;
}

h6 {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 31px;
  font-style: italic;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
}

.button {
  padding: 13px 36px;
  border: 1px solid #37374a;
  border-radius: 25px;
  background-color: #37374a;

  color: #fff;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.1px;

  transition: all 0.3s linear;
}

.button:hover,
.button:focus,
.button:active {
  background: linear-gradient(
      152.36deg,
      rgba(149, 51, 215, 0.1) 1.9%,
      rgba(72, 244, 255, 0.056) 98.27%,
      rgba(255, 0, 127, 0.1) 98.28%
    ),
    linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);

  border-image-source: linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);
  box-shadow: 0px 4px 14px 0px #9eaacf40;

  color: #6e74a8;
}

input[type="text"],
input[type="tel"] {
  background: #ffffff33;
  border: 1px solid #ffffffcc;
  padding: 18px 28px 18px;
  border-radius: 50px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
  color: currentColor;

  &::placeholder {
    color: #6e74a8;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

input[type="submit"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  background-color: #37374a;
  font-size: 16px;
  color: #fff;
}

.before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  .part-1 {
    position: relative;
    width: calc(100% - $card-block_angle-margin);
    height: $card-block_angle-margin;
    margin-left: $card-block_angle-margin;
    background: $card-block_angle-background-1;
    border-radius: calc($card-block_border-radius / 2) $card-block_border-radius
      0 0;

    box-shadow: 0 -1px 1px 0 rgba(255, 255, 255, 0.9);
    &::before {
      position: absolute;
      content: "";
      top: 1px;
      right: 1px;
      bottom: 0;
      left: 1px;
      background: rgba(238, 241, 250, 0.3);
      border-radius: calc($card-block_border-radius / 2)
        $card-block_border-radius 0 0;
    }
  }

  .part-2 {
    position: relative;
    height: calc(100% - $card-block_angle-margin);
    background: $card-block_angle-background-2;
    border-radius: calc($card-block_border-radius / 2) 0
      $card-block_border-radius $card-block_border-radius;

    box-shadow: 0 1px 1px 0 rgba(221, 221, 221, 0.7);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background: rgba(238, 241, 250, 0.3);
      border-radius: calc($card-block_border-radius / 2) 0
        $card-block_border-radius $card-block_border-radius;
    }
  }

  .part-3 {
    position: absolute;
    width: $card-block_angle-width;
    left: calc($card-block_angle-margin / 2);
    top: calc($card-block_angle-margin / 2);
    aspect-ratio: 1;
    background-image: radial-gradient(
      circle at 100% 100%,
      transparent $card-block_angle-width,
      ($card-block_angle-background-1, $card-block_angle-background-1)
        calc($card-block_angle-width + 1px)
    );
    rotate: 180deg;
  }
}

.cursive-text {
  font-family: PlayfairDisplay;
  font-style: italic;
}

.with-arrow {
  position: relative;
  display: inline-flex;
  height: 20px;
  align-items: center;
  &::after {
    position: absolute;
    right: -40px;
    transform: translateY(2px);
    content: "";
    height: 1px;
    width: 40px;
    background: currentColor;
    display: inline-block;

    transition: all 0.1s linear;
  }

  &::before {
    position: absolute;
    right: -39px;
    transform: translateY(2px);
    content: "";
    height: 9px;
    width: 9px;
    border: 1px solid currentColor;
    border-width: 1px 1px 0 0;
    display: inline-block;
    rotate: 45deg;

    transition: all 0.1s linear;
  }
}

*:hover > .with-arrow {
  &::after {
    width: 60px;
    right: -60px;
    transform: translateY(2px);
  }

  &::before {
    right: -60px;
    transform: translateY(2px);
  }
}

.main-block-decor {
  position: absolute;
  bottom: -225px;
  right: -110px;
  z-index: 0;
}

@include desktop {
  .button {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  .container {
    padding: 0 110px;
  }

  h1{
    font-size: 48px;
    line-height: 1.15;
  }

  h2{
    font-size: 47px;
    margin: 4px 0;
    letter-spacing: -.4px;
  }

  h6{
    font-size: 24px;
    line-height: 1.3;
  }
}
