@import "/src/assets/scss/mixins/breakpoint";

$lilac: #6e74a8;
$dark-lilac: #3e496a;
$green: #4cc8af;
$gray: #3e496ab2;
$color-white: #ebeff2;
$color-light-blue: #E7ECFE;


$review_slide_width: 940px;

$card-block_angle-background-1: rgba(255, 255, 255, 0.6);
$card-block_angle-background-2: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.5) 0%,
  rgba(229, 233, 246, 0.5) 100%
);

$card-block_angle-width: 25px;
$card-block_angle-margin: 50px;
$card-block_border-radius: 45px;

$time-default: 0.3s;
