.case-korovski {
  .stages-dev__text {
    font-size:15px;
    line-height:21px;
    color:#777;
    font-weight:400;
  }

  .steps-block {

    @include sfx-media-down(lg) {
      padding-bottom: 0;
      padding-top: 0;
    }

    &__list {
      padding-bottom: 40px;
      font-weight: 500;
      font-size: 15px;
      line-height: 23px;
      color: #777777;
    }

    &__col {
      @include sfx-col-flex(4);

      @include sfx-media-down(lg) {
        @include sfx-col-flex(6);
      }

      @include sfx-media-down(md) {
        @include sfx-col-flex(12);
      }
    }
  }

  &__note {
    padding: 40px 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(57, 79, 109, 0.15);
    border-radius: 50px;

    @include sfx-media-down(md) {
      padding: 15px 15px;
    }
  }
}

