.case-letech {
  .positive-block .c-row {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    @include sfx-media-down(md) {
      grid-template-columns: 1fr;
    }
  }
  .positive-block .c-col {
    padding: 0;
    max-width: unset;
  }

  .positive-block__item-title {
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 0 0 0 48px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url(images/marker-check.png) no-repeat center;
      background-size: 24px 24px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}