.case-varnish {
  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .news-marker-text-2 {
      max-width: 380px;
    }
  }
  & .c-col {
    margin-bottom: 30px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  & .case__text--varnish {
    padding-bottom: 40px;
    & p {
      margin-bottom: 0;
    }
  }
  & .case__img {
    margin-bottom: 50px;
  }
  & .case__row {
    padding-bottom: 0;
  }
  & .positive-block {
    padding: 0;
  }
}