.seo-trafik {

  .positive-block {
    .c-col {
      @include sfx-col-flex(6);

      @include sfx-media-down(md) {
        @include sfx-col-flex(12);
      }
    }
  }


  .who-suits {
    @include sfx-media-down(sm) {
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }

  .seo-stages {
    @include sfx-media-down(sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .seo-stages__images img {
    margin-bottom: 45px;
  }

}