.stages-dev {
  border-top: 1px solid #e8e8e8;
  padding: 80px 0 80px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__col-1 {
    @include sfx-col-flex-custom(28%);
    padding: 0 15px;

    @include sfx-media-down(xl) {
      display: none;
    }
  }

  &__col-2 {
    @include sfx-col-flex-custom(36%);
    padding: 0 15px 0 0;
    border-left: 1px solid #e8e8e8;
    align-items: center;
    display: flex;

    @include sfx-media-down(xl) {
      @include sfx-col-flex-custom(50%);
      padding: 0 15px 0 40px;
      border-left: 0;
      position: relative;

      &:after {
        content: '';
        border-left: 1px solid #e8e8e8;
        height: 100%;
        width: 0;
        display: block;
        top: 0;
        left: 40px;
        position: absolute;
        z-index: 0;
      }
    }

    @include sfx-media-down(md) {
      @include sfx-col-flex-custom(100%);
      padding-left: 80px;

      &:after {
        left: 80px;
      }
    }

    @include sfx-media-down(sm) {
      padding-left: 15px;
      &:after {
        left: 32px;
      }
    }
  }

  &__col-3 {
    @include sfx-col-flex-custom(36%);
    padding: 0 15px;

    @include sfx-media-down(xl) {
      @include sfx-col-flex-custom(50%);
    }

    @include sfx-media-down(md) {
      display: none;
    }
  }

  &__title {
    @include sfx-title();
    padding-bottom: 0;
    text-transform: uppercase;
  }

  &__images {
    img {
      margin-bottom: 25px;
      max-width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__stages {
    @include sfx-media-down(lg) {
      padding: 20px 0;
    }
  }

  &__item {
    margin-bottom: 22px;
    position: relative;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 70px;

    &:last-child {
      margin-bottom: 0;
    }

    @include sfx-media-down(sm) {
      min-height: 34px;
      padding-left: 55px;
    }
  }

  &__number {
    width: 38px;
    height: 38px;
    border: 1px solid #dcdcdc;
    color: $color-red;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -20px;
    background-color: $color-white;
    z-index: 1;

    @include sfx-media-down(sm) {
      width: 34px;
      height: 34px;
      font-size: 18px;
      line-height: 32px;
      left: 0;
    }
  }

  &__text {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    @include sfx-media-down(sm) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}