
$sfx-font: 'Montserrat', sans-serif;
$sfx-font-icon: "fl-bigmug-line";
$sfx-root-font-size: 10px;
$sfx-font-size: 16px;
$sfx-text-color: #272727;
$sfx-line-height: 1.6;

$color-red: #c4262e;
$color-white: #ffffff;


@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1245px
);

@import "bootstrap/scss/bootstrap";


$sfx-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$sfx-content-size: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1245px
);


:root {
  @each $point, $value in $sfx-breakpoints {
    --sfx-breakpoint-#{$point}: #{$value};
  }
}


@import "inc/_mixins";
@import "inc/_reboot";



//@import "../../node_modules/bourbon/core/bourbon";

@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

@import "inc/_font";

@import "vendor/jquery-ui.min";

@import "vendor/fm.revealator.jquery";

@import "vendor/jquery.fancybox";


@import "inc/base";
@import "inc/header";
@import "inc/footer";
@import "inc/modal";

@import "inc/blocks";
@import "inc/portfolio/portfolio";
@import "inc/index";
@import "inc/contacts";
@import "inc/online-store";
@import "inc/develop-sites";
@import "inc/corp-site";
@import "inc/visit-site";
@import "inc/lending-site";
@import "inc/seo-main";
@import "inc/seo-trafik";
@import "inc/seo-position";
@import "inc/seo-complex";
@import "inc/usability";
@import "inc/tech-audit";
@import "inc/support";
@import "inc/bitrix24";
@import "inc/mobile-dev";
@import "inc/analitic";
@import "inc/portfolio-page";
@import "inc/portfolio-page";
@import "inc/case/case";
@import "inc/infoblog-page";
@import "inc/animation";
@import "inc/article";
@import "inc/reviews";
@import "inc/inform-portal";
//@import "inc/penguin";
@import "inc/lang-select";
@import "inc/seo-context";
@import "inc/seo-target";
@import "inc/seo-smm";
@import "inc/video";
@import "inc/chatbot";


