.main-header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.main-header_active {
  background: rgba(238, 241, 250, 0.9);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);
  border-image-slice: 1;
  backdrop-filter: blur(1.8px);

  .main-header_wrapper {
    padding: 18px 0 20px;
  }
}

.main-header_wrapper {
  padding: 50px 0 45px;
  display: flex;
  justify-content: space-between;

  transition: padding 0.3s ease;
}

.main-header_logo-wrapper {
  display: flex;
  width: 340px;
  grid-column-gap: 25px;
  flex-shrink: 0;
}

.main-header_logo-img {
  width: auto;
  height: fit-content;
}

.main-header_logo-description {
  padding: 5px 0 0;
  font-size: 13px;
}

.main-header_nav-wrapper > ul {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 98px;
  padding: 0;

  line-height: 18px;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.main-header_nav-wrapper li {
  position: relative;
  margin: 0;
  padding: 0;

  color: #6e74a8;
  list-style: none;

  transition: color 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: calc(50% - 4.5px);

    height: 9px;
    width: 9px;

    border-radius: 50%;
    background-color: currentColor;
    opacity: 0;

    transition: opacity 0.2s linear;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    color: #4cc8af;
  }
}

@include desktop {
  .main-header {
    .container {
      padding: 0 110px;
    }
  }

  .main-header_logo-wrapper {
    gap: 10px;
    width: 300px;
    .main-header_logo-img {
      width: 178px;
    }
  }

  .main-header_logo-description {
    font-size: 11px;
    padding: 3px 0 0;
  }

  .main-header_nav-wrapper > ul {
    grid-column-gap: 30px;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.1px;

    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.01em;

    .button {
      margin: 0 -40px 0 -10px;
    }
  }
}

@include small-tablet {
  .main-header {
    .container {
      padding: 0 80px 0 104px;
    }

    li{
      display: none;
    }
  }
}
