.main-header {
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0;

  transition: 0.3s;
}

.main-header_contacts {
  display: none;
}

.mobile-menu_button-wrapper {
  display: none;
  position: relative;
  width: 100%;
  margin-left: auto;
  right: 0;
  text-align: left;
  transition: width 0.3s;
  &.active {
    display: block;
    margin-right: 0;
    width: 0;
    z-index: 101;
  }
  &.fixed {
    margin-right: 80px;
    top: 50px;
  }
}

.main-header_active {
  padding: 6px 0;
  background: rgba(238, 241, 250, 0.9);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);
  border-image-slice: 1;
  backdrop-filter: blur(1.8px);

  .main-header_wrapper {
    padding: 18px 0 20px;
  }
}

.main-header_wrapper {
  position: relative;
  padding: 50px 0 45px;
  display: flex;
  justify-content: space-between;

  transition: padding 0.3s ease;
}

.main-header_logo-wrapper {
  display: flex;
  width: 340px;
  grid-column-gap: 25px;
  flex-shrink: 0;
}

.main-header_logo-img {
  width: auto;
  height: fit-content;
}

.main-header_logo-description {
  padding: 5px 0 0;
  font-size: 13px;
}

.main-header_nav-wrapper {
  z-index: 1;
  transition: opacity 0.3s;
  .main-header_contacts {
    display: none;
    justify-content: center;
    grid-row-gap: 50px;
    padding: 99px 0 0;

    .socials {
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }

    .socials_item {
      display: block;
      aspect-ratio: 1;
      width: 100%;
      height: 46px;
      img {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
      }
    }

    .button {
      margin-top: -5px;
      min-width: 296px;
      padding: 16px 30px;
      border-radius: 28.6px;

      text-align: center;

      font-size: 22.8px;
      line-height: 1;
      letter-spacing: 0.228px;
    }
  }
  .phones {
    padding: 0 0 0 47px;
  }
  .phones_phone-number {
    position: relative;

    font-size: 32px;
    line-height: 1.04638;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
  }

  .phone-icon_wrapper {
    position: absolute;
    top: 6px;
    left: -46px;
    height: 26px;
    aspect-ratio: 1;

    path {
      fill: currentColor;
    }
  }

  .phones_phone-title {
    padding: 8px 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.67422;
    letter-spacing: 0.2px;
  }

  &.visible {
    opacity: 1;
  }

  &.active {
    padding: 120px 0 40px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    min-height: 100dvh;

    outline: 1px solid #fff;
    outline-style: auto;

    > ul {
      grid-auto-flow: row;
      justify-content: center;
      grid-row-gap: 60px;
      text-align: center;
      .button__hidden {
        display: none;
      }
    }

    li {
      display: block;

      font-size: 36px;
      line-height: 1.2;
      letter-spacing: 0.36px;
      &::after {
        display: none;
      }
    }

    .main-header_contacts {
      display: grid;
      justify-items: center;
    }
  }

  & > ul {
    position: relative;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 98px;
    padding: 0;

    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.1px;
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;

    color: #6e74a8;
    list-style: none;

    transition: color 0.2s linear;
    overflow-x: clip;

    &.active,
    &:hover {
      color: #4cc8af;
    }
  }
}

.nav-pointer {
  position: absolute;
  left: 0;
  bottom: -20px;
  transform: translateX(-50%);
  opacity: 0;

  height: 9px;
  width: 9px;

  border-radius: 50%;
  background-color: currentColor;

  transition: 0.3s;

  &.active {
    opacity: 1;
    background-color: #4cc8af;
  }
}

@include desktop {
  .main-header {
    .container {
      padding: 0 110px;
    }
  }

  .main-header_logo-wrapper {
    grid-gap: 10px;
    width: 300px;
    .main-header_logo-img {
      width: 178px;
    }
  }

  .main-header_logo-description {
    font-size: 11px;
    padding: 3px 0 0;
  }

  .main-header_nav-wrapper > ul {
    grid-column-gap: 30px;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.1px;

    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.01em;

    .button {
      margin: 0 -40px 0 -10px;
    }
  }
}

@include big-tablet {
  .nav-pointer {
    &,
    &.active {
      display: none;
    }
  }

  .main-header_nav-wrapper {
    opacity: 0;
  }
  .main-header {
    .container {
      padding: 0 80px 0 104px;
    }

    li {
      display: none;
    }
  }
  .button {
    &.button__hide-on-desk {
      position: absolute;
      display: block;
      right: 0;
    }

    &.button__hidden {
      display: none;
    }

    &.button__mobile-menu {
      display: flex;
    }
  }

  .mobile-menu_button-wrapper {
    display: block;
  }
}

@include small-tablet {
  .mobile-menu_button-wrapper {
    width: 0;
  }
  .main-header_wrapper {
    justify-content: flex-start;
  }

  .button.button__hide-on-desk {
    display: none;
  }
}

@include mobile {
  .mobile-menu_button-wrapper {
    margin-right: 37px;
  }
  .main-header {
    .container {
      padding: 0 32px;
    }
  }

  .main-header_wrapper {
    padding: 40px 0 45px;
    justify-content: space-between;
  }

  .main-header_logo-wrapper {
    position: relative;
    width: auto;
    padding: 0 50px 0 0;
    grid-gap: 6px;
  }

  .main-header_logo-description {
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 0;
  }

  .mobile-menu_button-wrapper {
    &.active {
      margin-right: 37px;
    }
    &.fixed {
      margin-right: calc(37px + 31px);
      width: 0;
      top: 35px;
    }
  }

  .main-header_nav-wrapper {
    &.active {
      & > ul {
        grid-row-gap: 40px;
        li {
          font-size: 32px;
          letter-spacing: 0.32px;
        }
      }
    }

    .main-header_contacts {
      padding: 49px 0 0;

      grid-row-gap: 45px;
    }
  }
}
