.main-footer {
  padding: 40px 0;
  border: 1px solid #fff;
  border-width: 1px 0 0;

  font-size: 13.6px;
  color: #fff;
  background: #0000001a;

  overflow-x: hidden;
}

.main-footer_part-1 {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.main-footer_phones-wrapper {
  padding: 12px 0;
  display: flex;
  grid-column-gap: 74px;
}

.main-footer_phone-number {
  position: relative;

  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  span {
    font-size: 18px;
  }

  .phone-icon_wrapper {
    position: absolute;
    top: 2px;
    left: -39px;
    height: 20px;
    width: 20px;
    fill: currentColor;
  }
}

.main-footer_phone-title {
  font-size: 16px;
  letter-spacing: 0.2px;
}

.main-footer_part-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

.main-footer_text-info {
  font-size: 16px;
  display: flex;
  grid-column-gap: 40px;
  align-items: center;
}

.main-footer_socials-wrapper {
  display: flex;
  grid-column-gap: 20px;
}

.main-footer_social {
  min-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  transition: .3s;
  &:hover {
    border-color: $green;
    color: $green;
  }

  svg {
    width: calc(100% - 15px);
  }
  path {
    fill: currentColor;
  }
}

@include desktop {
  .main-footer {
    padding: 47px 0;
  }

  .main-footer_logo-wrapper {
    width: 347px;
    img {
      width: 100%;
    }
  }
  .main-footer_phones-wrapper {
    padding: 4px 0;
  }
  .main-footer_phone-number {
    font-size: 28px;
    letter-spacing: 0.1px;

    span {
      font-size: 14px;
    }

    .phone-icon_wrapper {
      left: -25px;
    }
  }

  .main-footer_phone-title {
    letter-spacing: -0.7px;
  }

  .main-footer_part-2 {
    padding: 37px 0 0;
  }

  .main-footer_text-info {
    display: block;
    font-size: 13px;
  }

  .main-footer_copy {
    padding: 0 0 10px;
  }

  .main-footer_socials-wrapper {
    margin: -6px 0 0;
  }
}

@include small-desktop {
  .main-footer {
    padding: 47px 0 38px;
    .main-footer_logo-wrapper {
      width: 285px;
    }

    .main-footer_phone-number {
      font-size: 20.873px;
      line-height: 0.77;
      letter-spacing: 0.209px;

      span {
        font-size: 11.132px;
        line-height: 1.4375;
        letter-spacing: 0.111px;
      }
    }

    .main-footer_phone-number .phone-icon_wrapper {
      height: 13.22px;
      width: 13.22px;
      left: -18px;
    }

    .main-footer_phone-title {
      font-size: 13px;
      line-height: 1.23;
      letter-spacing: 0.2px;
    }

    .main-footer_part-2 {
      padding: 30px 0 0;
      margin: 0 0 0 -10px;
    }

    .main-footer_text-info {
      max-width: 400px;
    }
  }

  .main-footer_phones-wrapper {
    grid-column-gap: 50px;
  }
  .main-footer_socials-wrapper {
    grid-gap: 17px;
    align-items: flex-end;
  }
  .main-footer_social {
    min-width: 43px;
    max-height: 43px;
  }
}

@include tablet {
  .main-footer_phones-wrapper {
    flex-direction: column;
    padding: 0 20px;
    grid-gap: 22px;
  }
}

@include mobile {
  .main-footer {
    padding: 47px 0 34px;
    .main-footer_part-1 {
      grid-auto-flow: row;
      grid-gap: 17px;
    }

    .main-footer_part-2 {
      padding: 25px 0 0 10px;
      flex-direction: column;
      grid-gap: 32px;
    }

    .main-footer_text-info {
      order: 2;
    }

    .main-footer_socials-wrapper {
      order: 1;
    }

    .main-footer_copy {
      padding: 0 0 22px;
    }
  }
}
