@mixin invert-border-radius(
  $margin,
  $width,
  $bg-1,
  $bg-2,
  $bg-3,
  $border-radius
) {
  .before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    .part-1 {
      position: relative;
      width: calc(100% - $margin);
      height: $margin;
      margin-left: $margin;
      background: $bg-1;
      border-radius: calc($border-radius / 2) $border-radius 0 0;

      box-shadow: 0 -1px 1px 0 rgba(255, 255, 255, 0.9);
      &::before {
        position: absolute;
        content: "";
        top: 1px;
        right: 1px;
        bottom: 0;
        left: 1px;
        background: $bg-2;
        border-radius: calc($border-radius / 2) $border-radius 0 0;
      }
    }

    .part-2 {
      position: relative;
      height: calc(100% - $margin);
      background: linear-gradient(180deg, $bg-1 0%, $bg-2 100%);
      border-radius: calc($border-radius / 2) 0 $border-radius $border-radius;

      box-shadow: 0 1px 1px 0 rgba(221, 221, 221, 0.7);

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background: $bg-2;
        border-radius: calc($border-radius / 2) 0 $border-radius $border-radius;
      }
    }

    .part-3 {
      position: absolute;
      width: $width;
      left: calc($margin - $width);
      top: calc($margin - $width);
      aspect-ratio: 1;
      background: radial-gradient(
        circle at 100% 100%,
        transparent $width,
        ($bg-1, $bg-3) calc($width + 1px)
      );
      rotate: 180deg;
    }
  }
}

@mixin scrollbar($color) {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 4px;
    background: $color;
    border-radius: 6px;
  }

  @supports (-moz-user-select: none) {
    scrollbar-color: $color transparent;
    scrollbar-width: thin;
  }
}

@mixin scrollbar-horizont($color) {
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 4px;
    background: $color;
    border-radius: 6px;
  }

  @supports (-moz-user-select: none) {
    scrollbar-color: $color transparent;
    scrollbar-width: thin;
  }
}
