.news-index {
  padding: 75px 0 75px 0;
  background: #f7f9f9;
  overflow: hidden;

  .subscribe {
    color: #535353;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__link {
      color: #535353;
    }
    &__line {
      padding: 0 10px;
    }
    &__icon {
      width: 32px;
      height: 32px;
      background-color: #ff8500;
      border-radius: 50%;
      background-image: url(images/icon-email-white.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px 13px;
      margin: 0 15px 0 0;
    }
  }

  .news-item-list {
    display: flex;
    justify-content: space-between;
    margin: 0 -35px;
    padding: 50px 0 0 0;
  }

  .news-item {
    padding: 0 35px;
    height: 100%;
    //max-width: 315px;
    flex: 0 0 25%;
    max-width: 25%;

    &__image {
      height: 175px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      display: flex;

      &-inner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        transition: transform 3s ease;
      }
    }

    &__date {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 105px;
      height: 32px;
      border-radius: 0 3px 0 0;
      background-color: #fdfdfd;
      color: #80857a;
      font-size: 14px;
      font-weight: 500;
      line-height: 32px;
      text-align: center;
    }

    &__title {
      color: #444740;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      padding: 40px 0 0 0;
    }

    &:hover {
      .news-item__image {
        &-inner {
          transform: scale(1.2);
        }
      }
    }
  }


  @include sfx-media-down(xl) {
    .news-item {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;

      &:nth-child(4) {
        display: none;
      }
    }
  }


  @include sfx-media-down(lg) {
    padding: 60px 0;
    .news-item-list {
      margin: 0 -15px;
    }
    .news-item {
      padding: 0 15px;
      &__title {
        font-size: 13px;
        line-height: 18px;
        padding: 35px 0 0 0;
      }
      &__date {
        font-size: 11px;
        width: 84px;
        height: 29px;
        line-height: 29px;
      }
      &__image {
        height: 140px;
      }
    }
  }


  @include sfx-media-down(md) {
    .news-item {
      flex: 0 0 50%;
      max-width: 50%;
      &:nth-child(3) {
        display: none;
      }
    }
  }


  @include sfx-media-down(sm) {
    .subscribe {
      justify-content: flex-start;
      padding: 20px 0 0 0;
    }

    .news-item-list {
      flex-wrap: wrap;
      max-width: 320px;
      margin: 0 auto;
    }

    .news-item {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 50px;
      padding: 0;

      &:nth-child(3) {
        display: block;
        margin-bottom: 0;
      }

      &__title {
        padding: 20px 0 0 0;
      }
      &__image {
        height: 160px;
      }
    }
  }
}

