.bg-promo {
  position: absolute;
  z-index: -1;
  overflow: hidden;

  aspect-ratio: 1;
}

.bg-promo-purple {
  width: 890px;
  height: 890px;
  top: -133px;
  left: -475px;
  background: #caaeee66;

  filter: blur(150px);
}

.bg-promo-orange {
  width: 684px;
  height: 684px;
  top: 56px;
  left: unset;
  right: -280px;

  background: #ffdfdb99;

  filter: blur(100px);
}

.bg-promo-blue {
  width: 520px;
  height: 520px;
  top: 624px;
  left: calc(50% - 520px);

  background:#00a3ff11;
  filter: blur(50px);
}
