input {
  &[type="text"],
  &[type="tel"],
  &[type="email"] {
    background: #ffffff33;
    border: 1px solid #ffffffcc;
    padding: 18px 28px 18px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    color: currentColor;
    outline: none;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #6e74a8;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }

  &[type="submit"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: #37374a;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }

  &.input__has-error {
    border-color: rgb(255, 102, 102);
    &[type="checkbox"] {
      &::before {
        border-color: rgb(255, 102, 102);
      }
    }
  }

  &[type="checkbox"] {
    cursor: pointer;
    padding: 0;
    margin: 2px 10px 2px 2px;
    width: 17px;
    height: 17px;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: 1;

      transform: translate(-50%, -50%);

      border-radius: 6.667px;
      border: 1px solid #fff;
      background: #fff;
      content: "";
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      transform: translate(-50%, -50%);
      border-radius: 3.33px;
      background: #fff;
      content: "";
    }
    &:checked {
      &::before {
        border-color: #4cc8af;
      }
      &::after {
        background: #4cc8af;
        box-shadow: 0px 0px 4px 0px rgba(76, 200, 175, 0.6);
      }
    }
  }
}

textarea {
  background: #ffffff33;
  border: 1px solid #ffffffcc;
  padding: 18px 28px 18px;
  border-radius: 50px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
  color: currentColor;
  resize: none;

  &::placeholder {
    color: #d3d3d3;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

@include small-tablet {
  input[type="text"],
  input[type="tel"] {
    padding: 10px 20px;
    font-size: 14px;
    line-height: normal;
    &::placeholder {
      font-size: 14px;
      line-height: normal;
    }
  }

  input[type="submit"] {
    padding: 13px 20px 14px;

    font-size: 10.56px;
    line-height: normal;
    letter-spacing: 0.106px;
  }
}
