input {
  &[type="text"],
  &[type="tel"],
  &[type="email"] {
    background: #ffffff33;
    border: 1px solid #ffffffcc;
    padding: 18px 28px 18px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    color: currentColor;
    outline: none;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #6e74a8;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0em;
    }
  }

  &[type="submit"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: #37374a;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }

  &.input__has-error {
    border-color: rgb(255, 102, 102);
  }

  &[type="checkbox"] {
    position: relative;
    opacity: 0;
    &::before{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid;
      border-radius: 6.667px;
      content: "";
    }
  }
}

textarea {
  background: #ffffff33;
  border: 1px solid #ffffffcc;
  padding: 18px 28px 18px;
  border-radius: 50px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
  color: currentColor;
  resize: none;

  &::placeholder {
    color: #d3d3d3;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

@include small-tablet {
  input[type="text"],
  input[type="tel"] {
    padding: 10px 20px;
    font-size: 14px;
    line-height: normal;
    &::placeholder {
      font-size: 14px;
      line-height: normal;
    }
  }

  input[type="submit"] {
    padding: 13px 20px 14px;

    font-size: 10.56px;
    line-height: normal;
    letter-spacing: 0.106px;
  }
}
