.main_left-side_wrapper {
    position: absolute;
    top: -142px;
    bottom: 0;
    left: -171px;
    display: flex;
    padding: 75px 0 0 29px;
    grid-column-gap: 31px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: calc(100% + 142px);
    justify-content: center;
    border: 1px solid #fff;
    border-width: 0 0 0 3px;
}

.main_left-side_item {
    font-size: 20px;
    line-height: 24px;
}

.main_right-side_wrapper {
    position: absolute;
    bottom: -38px;
    display: grid;
    grid-row-gap: 27px;
    right: -132px;
    justify-items: center;
}