.main-footer {
  padding: 40px 0;
  border: 1px solid #fff;
  border-width: 1px 0 0;

  font-size: 13.6px;
  color: #fff;
  background: #0000001A;

;
}

.main-footer_part-1 {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.main-footer_phones-wrapper {
  padding: 12px 0;
  display: flex;
  grid-column-gap: 74px;
}

.main-footer_phone-number {
  position: relative;

  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  span {
    font-size: 18px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: -39px;
    height: 20px;
    width: 20px;
    background: url(/src/assets/images/phone.svg) center no-repeat;
  }
}

.main-footer_phone-title{
    font-size: 16px;
    letter-spacing: .2px;
}

.main-footer_part-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}

.main-footer_text-info {
  font-size: 16px;
  display: flex;
  grid-column-gap: 40px;
  align-items: center;
}

.main-footer_socials-wrapper {
  display: flex;
  grid-column-gap: 20px;
}

.main-footer_social {
  min-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #fff;
  img {
    filter: brightness(0) invert(1);
  }
}
