.main-header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.main-header_wrapper {
  padding: 50px 0 45px;
  display: flex;
  justify-content: space-between;
}

.main-header_logo-wrapper {
  display: flex;
  width: 340px;
  grid-column-gap: 25px;
}

.main-header_logo-img {
  width: auto;
  height: fit-content;
}

.main-header_logo-description {
  padding: 5px 0 0;
  font-size: 13px;
}

.main-header_nav-wrapper {
  padding: 0 65px;
}

.main-header_nav-wrapper > ul {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 98px;
  padding: 0;

  line-height: 18px;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.main-header_nav-wrapper li {
  position: relative;
  margin: 0;
  padding: 0;

  color: #6e74a8;
  list-style: none;

  transition: color 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: calc(50% - 4.5px);

    height: 9px;
    width: 9px;

    border-radius: 50%;
    background-color: currentColor;
    opacity: 0;

    transition: opacity 0.2s linear;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    color: #4cc8af;
  }
}
