.main-block-5 {
  padding: 74px 0 60px;

  h2 {
    text-align: center;
    margin: 53px 0 48px;
  }

  .block-description {
    text-align: center;
    padding: 6px 78px 64px;
    font-size: 20px;
  }

  .main-block-4_item {
    font-size: 21px;
    min-height: 525px;
    padding: 170px 30px 50px;
    grid-template-columns: 0.55fr;
    grid-row-gap: 3px;
    align-items: normal;

    border-radius: 20px;
    clip-path: none;
    box-shadow: 0px 4px 44px 0px #9eaacf4d;

    .button {
      padding: 20px 50px;
    }

    .main-block-4_item-picture-wrapper{
      z-index: 0;
      height: 100%;

      img{
        height: 100%;
        width: auto;
      }
    }



  }
}

.main-block-5_items-wrapper {
  padding: 0 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 73px 30px;
}

.main-block-5_item_logo-wrapper {
  z-index: 1;
  min-height: 127px;
  display: flex;
  align-items: center;
}
