.main-header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.main-header_wrapper {
  padding: 50px 0 45px;
  display: flex;
  justify-content: space-between;
}

.main-header_logo-wrapper {
  display: flex;
  width: 340px;
  grid-column-gap: 25px;
}

.main-header_logo-img {
  width: auto;
  height: fit-content;
}

.main-header_logo-description {
  padding: 5px 0 0;
  font-size: 13px;
}

.main-header_nav-wrapper {
  padding: 0 65px;
}

.main-header_nav-wrapper > ul {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 98px;
  padding: 0;

  line-height: 18px;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.main-header_nav-wrapper li {
  position: relative;
  margin: 0;
  padding: 0;

  color: #6e74a8;
  list-style: none;

  transition: color 0.2s linear;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: calc(50% - 4.5px);

    height: 9px;
    width: 9px;

    border-radius: 50%;
    background-color: currentColor;
    opacity: 0;

    transition: opacity 0.2s linear;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    color: #4cc8af;
  }
}

.button {
  padding: 15px 36px;
  border: 1px solid #37374a;
  border-radius: 25px;
  background-color: #37374a;

  color: #fff;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.1px;

  transition: all 0.2s linear;
}

.button:hover,
.button:focus,
.button:active {
  background: linear-gradient(
      152.36deg,
      rgba(149, 51, 215, 0.1) 1.9%,
      rgba(72, 244, 255, 0.056) 98.27%,
      rgba(255, 0, 127, 0.1) 98.28%
    ),
    linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);

  border-image-source: linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);
  box-shadow: 0px 4px 14px 0px #9eaacf40;

  color: #6e74a8;
}
