.main-promo {
    width: 100%;
    padding-top: 144px;
}

.main-promo_wrapper {
    display: flex;   
}

.main-promo_description {
    padding-top: 198px;
    flex-shrink: 0;
    width: 900px;
}

.main-promo_image {
    margin-left: -195px;
}

.main-promo_title{
    margin-bottom: 85px;
}

.main-promo_subtitle{
    max-width: 490px;
}

