.main-block-3 {
  padding: 0 0 20px;
  overflow: hidden;
  .main-block-decor {
    bottom: unset;
    right: -240px;
    top: -207px;
  }
}

.main-block-3_items-wrapper {
  padding: 40px 0 66px;
  display: flex;
  grid-gap: 45px;
}

.main-block-3_item {
  padding: 0 0 24px;

  flex: 1;
  display: grid;
  grid-template-rows: 200px auto auto;
  grid-gap: 16px;
  box-shadow: 0px 3.1019434929px 34.1213760376px 0px
    rgba(158, 170, 207, 0.3019607843);
  clip-path: none;

  img {
    height: 100%;
    width: auto;
  }
}

.main-block-3_item-title {
  padding: 10px 36px 0;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0em;
}

.main-block-3_item-desc {
  padding: 0 37px 10px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0em;
  color: $lilac;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    &::before {
      content: "- ";
    }
  }
}

.main-block-3_text-block {
  clip-path: none;
  box-shadow: 0px 3.1019434928894043px 34.121376037597656px 0px #9eaacf4d;
  display: flex;
  padding: 0 140px 0 0;

  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;

  h4 {
    margin: 38px 0 28px;
  }

  .text-block_text-wrapper {
    padding: 14px 15px;
  }
}

.main-block-3_item_image-wrapper {
  width: 303px;
}
