.main-block-4 {
  padding: 50px 0 0;

  background: linear-gradient(
    transparent 3%,
    #e3e0f3 15%,
    transparent 35%,
    transparent 85%,
    #e3e0f3 95%,
    transparent 100%
  );

  h2 {
    text-align: center;
  }

  .main-form_title {
    padding: 14px 0 30px;
  }

  .main-form_subtitle__small {
    letter-spacing: 0;
  }
}

.main-block-4_items-wrapper {
  padding: 80px 0 134px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 470px;
  grid-gap: 36px;
}

.main-block-4_item {
  position: relative;
  padding: 160px 45px 40px;
  display: grid;
  grid-template-rows: 140px auto;
  grid-row-gap: 34px;
  align-items: start;

  font-size: 13.6px;
  line-height: 1.2;
  letter-spacing: 0;

  color: $lilac;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $green;
  }

  overflow: hidden;
  clip-path: none;
  box-shadow: 0px 4.141469478607178px 45.55616760253906px 0px #9eaacf4d;
}

.main-block-4_item_logo-wrapper {
  height: 100%;

  display: flex;
  align-items: center;
  z-index: 1;

  img {
    max-height: 100%;
  }
}

.main-block-4_item-title {
  z-index: 1;
}

.main-block-4_item-long {
  grid-column: span 2;

  .main-block-4_item-title {
    max-width: 300px;
  }
}

.main-block-4_item-picture-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
