.main_left-side_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -171px;
  display: flex;
  padding: 75px 0 0 29px;
  grid-column-gap: 31px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  justify-content: center;
  border: 1px solid #fff;
  border-width: 0 0 0 3px;
}

.main_left-side_item {
  font-size: 20px;
  line-height: 24px;
  cursor: default;
}

.main_right-side_wrapper {
  position: absolute;
  bottom: 30px;
  display: grid;
  grid-row-gap: 27px;
  right: -190px;
  justify-items: center;
}

@include desktop {
  .main_right-side_wrapper {
    right: 50px;
    bottom: 60px;
  }

  .main_left-side_wrapper {
    left: 0;
    padding: 20px 28px 95px 17px;
  }

  .main_left-side_item {
    font-size: 16px;
  }
}

@include small-tablet {
  .main_right-side_wrapper {
    right: 70px;
    bottom: 64px;
  }
}
