.main_left-side_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -171px;
  display: flex;
  grid-column-gap: 31px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  width: 72px;
  overflow: clip;
  padding: 75px 0 0 29px;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: #fff;
  }

  &.not-active {
    opacity: 0;
  }

  &:not(.not-active) {
    animation: toBottom 1.5s;
  }
}

.main_left-side_item {
  font-size: 20px;
  line-height: 24px;
  cursor: default;

  &.not-active {
    opacity: 0;
  }

  &:not(.not-active) {
    animation: toLeft .75s linear;
  }
}

.main_right-side_wrapper {
  position: absolute;
  bottom: 30px;
  display: grid;
  grid-row-gap: 27px;
  right: -190px;
  justify-items: center;

  .main_right-side_item {
    &:hover {
      img {
        filter: hue-rotate(180deg);
      }
    }
  }
}

@include big-desktop {
  .main_right-side_wrapper {
    right: -50px;
  }

  .main_left-side_wrapper {
    left: -110px;
    padding: 20px 28px 95px 17px;
  }
}

@include desktop {
  .main_right-side_wrapper {
    right: 50px;
    bottom: 60px;
  }

  .main_left-side_wrapper {
    left: 0;
    padding: 20px 28px 95px 17px;
  }

  .main_left-side_item {
    font-size: 16px;
  }
}

@include small-tablet {
  .main_right-side_wrapper {
    right: 70px;
    bottom: 64px;
  }
}

@include mobile {
  .main_left-side_wrapper,
  .main_right-side_wrapper {
    display: none;
  }
}
