.main-slider {
  position: relative;
  margin: -40px 0;

  .swiper-wrapper {
    margin: 40px 0;
  }
}

.main-slider .container {
  max-width: 1600px;
}

.main-slider_swiper.swiper {
  padding: 0px 40px 35px;
  max-width: 1475px;
  margin: 0 auto 0 40px;
}

.main-slider_item {
  position: relative;
  min-height: 382px;
  &:hover {
    &:hover {
      .main-slider_item-wrapper {
        transform: rotate3d(0, 1, 0, 180deg);
      }

      .main-slider_item_front {
        opacity: 0;
      }

      .main-slider_item_back {
        opacity: 1;
      }
    }
  }
}

.main-slider_item-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.93px solid;
  border-radius: 45px;
  border-image-source: linear-gradient(180deg, #ffffff 0%, #e5e9f6 100%);
  box-shadow: 0px 3.7133407592773438px 40.84674835205078px 0px #9eaacf4d;

  background: rgba(238, 241, 250, 0.3);

  transition: transform 0.3s linear;
}

.main-slider_item_front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 32px 30px 20px;
  height: 100%;
  width: inherit;
  display: grid;
  justify-items: center;
  grid-template-rows: 48px 131px auto;
  grid-template-columns: 1fr;
  border-radius: 45px;
  transition: opacity 0.15s ease-in-out;
}

.main-slider_item_number {
  font-family: "PlayfairDisplay";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.main-slider_item_icon {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 72px;
    height: auto;
  }
}

.main-slider_item_desc {
  padding: 10px 0 0;
  font-family: Nekst;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.main-slider_item_back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-row-gap: 30px;
  padding: 30px 30px;

  border-radius: 45px;
  transform: rotate3d(0, 1, 0, 180deg);
  background: linear-gradient(
    152.36deg,
    rgba(149, 51, 215, 0.1) 1.9%,
    rgba(72, 244, 255, 0.056) 98.27%,
    rgba(255, 0, 127, 0.1) 98.28%
  );

  transition: opacity 0.15s cubic-bezier(0, 0.06, 1, -0.28);

  .main-slider_item_number {
    color: #fff;
  }

  .main-slider_item_desc {
    font-size: 16px;
    line-height: 22px;
  }
}

.swiper-button_prev,
.swiper-button_next {
  position: absolute;
  z-index: 1;
  top: calc(50% - 25px);
  transform: translateY(-50%);
  background: rgba(55, 55, 74, 1);
  border-radius: 50%;
  width: 93px;
  aspect-ratio: 1;

  color: #fff;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 26px;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-width: 1px 0 0 0;
  }
}

.swiper-button_prev {
  left: -40px;
  &::before {
    transform: translate(calc(-50% - 7px), -50%) rotate(-135deg);
  }
}

.swiper-button_next {
  right: -15px;

  &::before {
    transform: translate(calc(-50% + 7px), -50%) rotate(45deg);
  }
}

.main-slider.slider-reviews {
  padding: 0;
  margin: 100px 0 0;

  .swiper-wrapper {
    margin: 0;
  }

  .swiper-button_prev {
    left: -120px;
    top: 50%;
  }

  .swiper-button_next {
    right: -95px;
    top: 50%;
  }
}

.slider-reviews_item {
  max-width: $review_slide_width;
  margin: 0 calc((100% - $review_slide_width) / 2);

  padding: 60px 60px 45px;
  text-align: center;
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0;
}

.slider-reviews_author {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;

  font-family: Nekst;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.slider-reviews_item-desc {
  padding: 0 0 23px;
}

@include desktop {
  .main-slider {
    margin: 0;
    padding: 22px 0;

    .container {
      padding: 0 110px;
    }
  }

  .main-slider_swiper.swiper {
    padding: 0 16px;
    margin: 0;
  }

  .main-slider_item {
    min-height: 340px;
  }

  .main-slider_item-wrapper {
    box-shadow: 0px 3px 8px 0px #9eaacf4d;
  }

  .main-slider_item_front {
    padding: 28px 30px 28px;
    grid-template-rows: 47px 115px auto;
  }

  .main-slider_item_number {
    font-size: 22px;
  }

  .main-slider_item_icon {
    height: 110px;
    width: 110px;

    img {
      max-width: 60px;
    }
  }

  .main-slider_item_desc {
    padding: 10px 0 0;
    font-size: 17px;
    line-height: 1.2;
  }

  .swiper-button_prev,
  .swiper-button_next {
    top: 50%;
    width: 84px;
  }

  .swiper-button_prev {
    left: 40px;
  }

  .swiper-button_next {
    right: 40px;
  }

  .main-slider.slider-reviews {
    margin: 89px 0 0;

    .swiper-button_prev,
    .swiper-button_next {
      width: 95px;
    }

    .swiper-button_prev {
      left: -36px;
    }

    .swiper-button_next {
      right: -26px;
    }
  }

  .slider-reviews_item {
    padding: 57px 56px 35px;
    letter-spacing: 0.24px;
  }
}

@include big-tablet {
  .main-slider {
    .container {
      padding: 0 25px;
    }
  }
  .slider-reviews_item {
    margin: unset;
  }
}

@include small-tablet {
  .main-slider {
    margin: 0;
    padding: 25px 0;

    .main-slider_item {
      min-height: 300px;
    }

    .main-slider_item-wrapper {
      border-radius: 32px;
    }

    .main-slider_item_front {
      padding: 20px 30px 53px;
      grid-template-rows: 45px 102px auto;
    }

    .main-slider_item_back {
      padding: 20px 25px 30px;
      border-radius: 32px;

      grid-row-gap: 18px;

      .main-slider_item_desc {
        font-size: 13px;
        line-height: 1.35;
      }
    }

    .main-slider_item_number {
      font-size: 20px;
      line-height: 36px;
    }

    .main-slider_item_icon {
      height: 100px;
      width: 100px;
    }

    .main-slider_item_desc {
      font-size: 15px;
    }
  }

  .swiper-button_prev,
  .swiper-button_next {
    top: calc(50% - 9px);
    width: 55px;
  }

  .swiper-button_prev {
    left: 14px;
  }
  .swiper-button_next {
    right: 14px;
  }

  .swiper-button_prev::after,
  .swiper-button_next::after {
    width: 18px;
  }

  .swiper-button_prev::before,
  .swiper-button_next::before {
    width: 8px;
    height: 8px;
  }

  .swiper-button_prev::before {
    transform: translate(calc(-50% - 4px), -50%) rotate(-135deg);
  }

  .swiper-button_next::before {
    transform: translate(calc(-50% + 4px), -50%) rotate(45deg);
  }

  .main-slider.slider-reviews {
    margin: 60px 0 0;

    .slider-reviews_item {
      padding: 43px 44px 20px;
    }

    .swiper-button_prev,
    .swiper-button_next {
      width: 72px;
      transform: translateY(calc(-50% - 42px));
    }

    .swiper-button_prev {
      left: -27px;
    }

    .swiper-button_next {
      right: -19px;
    }
  }
}

@include mobile {
  .main-slider {
    padding: 10px 0;

    .main-slider_item {
      min-height: 230px;
    }

    .main-slider_item_back {
      padding: 20px 10px 28px;
      grid-row-gap: 0;

      .main-slider_item_desc {
        font-size: 11px;
      }
    }

    .main-slider_item_front {
      padding: 20px 10px 28px;
      grid-template-rows: 28px 70px auto;
    }

    .main-slider_item_number {
      font-size: 14px;
      line-height: normal;
    }

    .main-slider_item_desc {
      font-size: 13px;
      line-height: normal;
    }

    .main-slider_item_icon {
      height: 100%;
      width: auto;
      aspect-ratio: 1;
      img {
        max-width: 40px;
      }
    }
  }

  .swiper-button_prev,
  .swiper-button_next {
    width: 39px;
  }

  .swiper-button_prev {
    left: 4px;
  }

  .swiper-button_next {
    right: 4px;
  }

  .swiper-button_prev::before,
  .swiper-button_next::before {
    width: 6px;
    height: 6px;
  }

  .swiper-button_prev::before {
    transform: translate(calc(-50% - 2px), -50%) rotate(-135deg);
  }

  .swiper-button_next::before {
    transform: translate(calc(-50% + 2px), -50%) rotate(45deg);
  }

  .swiper-button_prev::after,
  .swiper-button_next::after {
    width: 12px;
  }

  .main-slider_swiper.swiper {
    padding: 0;
  }

  .main-slider.slider-reviews {
    margin: 35px 0 0;

    .slider-reviews_item {
      padding: 43px 30px 25px;
      font-size: 13px;
      line-height: 1.53846;
    }
    .slider-reviews_author {
      flex-direction: column;

      font-size: 16px;
      line-height: normal;
    }

    .swiper-button_prev,
    .swiper-button_next {
      width: 39px;
      transform: translateY(calc(-50% - 7px));
    }

    .swiper-button_prev {
      left: -15px;
    }

    .swiper-button_next {
      right: -8px;
    }
  }
}
