.text-block {
  clip-path: none;
  box-shadow: 0px 3.1019434928894043px 34.121376037597656px 0px #9eaacf4d;
  display: grid;
  grid-template-columns: 2fr 8fr;

  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;

  h4 {
    margin: 38px 0 28px;
  }
  .text-block_text-wrapper {
    padding: 14px 120px 14px 15px;
  }

  .text-block_img-wrapper {
    img {
      width: 100%;
    }
  }

  @include desktop {
    grid-template-columns: 2fr 6fr;

    h4 {
      margin: 45px 0 22px;
    }

    p {
      line-height: 1.2;
    }

    .text-block_text-wrapper {
      padding: 10px 50px 14px 7px;
    }
  }

  @include tablet {
    grid-template-columns: 210px auto;
  }

  @include small-tablet {
    h4 {
      margin: 40px 0 10px;
      font-size: 30px;
      line-height: 1.2;
    }
    p {
      margin: 12px 0;
      line-height: 1.44;
    }

    .text-block_text-wrapper {
      padding: 10px 35px 24px 16px;
    }
  }

  @include big-mobile {
    grid-template-columns: 170px auto;

    .text-block_text-wrapper {
      padding: 10px 15px 24px;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0 20px;

    h4 {
      font-size: 24px;
      line-height: normal;
      margin: 12px 0;
    }

    .text-block_text-wrapper {
      padding: 10px 35px 44px 16px;
    }

    .text-block_img-wrapper {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}
