.text-block {
  margin: 66px 30px 0;
  clip-path: none;
  box-shadow: 0px 3.1019434928894043px 34.121376037597656px 0px #9eaacf4d;
  display: grid;
  grid-template-columns: 2fr 8fr;

  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;

  h4 {
    margin: 38px 0 28px;
  }
  .text-block_text-wrapper {
    padding: 14px 120px 14px 15px;
  }

  .text-block_img-wrapper {
    img {
      width: 100%;
    }
  }

  @include desktop {
    grid-template-columns: 2fr 6fr;
    margin: 84px 30px 0;

    h4 {
      margin: 45px 0 22px;
    }

    p {
      line-height: 1.2;
    }

    .text-block_text-wrapper {
      padding: 10px 50px 14px 7px;
    }
  }

  @include big-tablet {
    margin: 84px 0 0;
  }

  @include tablet {
    grid-template-columns: 210px auto;
    margin: 40px 0 0;
  }

  @include small-tablet {
    h4 {
      margin: 48px 0 10px;
      font-size: 30px;
      line-height: 1.2;
    }
    p {
      margin: 12px 0;
      line-height: 1.44;
    }

    .text-block_text-wrapper {
      padding: 10px 35px 24px 16px;
    }
  }

  @include big-mobile {
    grid-template-columns: 170px auto;
    margin: 30px 0 0;

    .text-block_text-wrapper {
      padding: 10px 15px 24px;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0 20px;

    h4 {
      font-size: 24px;
      line-height: normal;
      margin: 12px 0;
    }

    .text-block_text-wrapper {
      padding: 10px 35px 44px 16px;
    }

    .text-block_img-wrapper {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}

.hider {
  position: relative;
  margin: 0 0 90px;
  display: flex;
  justify-content: center;
  background-size: 100% 200%;
  background-position: top;
  &.active {
    background-position: bottom;
  }
  transform: translate3d(0, 0, 0);

  .button {
    transition-property: background-color;
    width: 380px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 35px;
  }
  .in-progress {
    color: transparent !important;
  }

  @include desktop {
    margin: 0 0 67px;
  }

  @include small-tablet {
    margin: 30px 0 46px;
    .button {
      width: 280px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      border-radius: 35px;
    }
  }

  @include big-mobile {
    margin: 0 0 39px;
  }
}
