.seo-features {
  padding: 70px 0 100px 0;

  &__title {
    @include sfx-title();
    padding: 0 0 80px 0;
  }

  &__item {
    display: flex;
    min-height: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }

    @include sfx-media-down(sm) {
      margin-bottom: 60px;
    }

    &:hover {
      .seo-features__image {
        &:after {
          @extend .si-floating2;
        }
      }
    }
  }

  &__image {
    @include sfx-flex-col-auto();
    position: relative;
    height: 44px;
    width: 54px;
    display: flex;
    align-items: flex-end;

    &:after {
      content: '';
      display: block;
      width: 31px;
      height: 31px;
      background-color: #c42134;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }

    img {
      max-height: 40px;
      position: relative;
      z-index: 1;
    }
  }


  &__text {
    @include sfx-flex-col-100();
    display: flex;
    align-items: center;
    color: #777777;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 100px;

    @include sfx-media-down(xl) {
      padding-left: 60px;
    }

    @include sfx-media-down(md) {
      padding-left: 40px;
    }

    @include sfx-media-down(sm) {
      @include sfx-col-flex(12);
      padding: 30px 0 0 0;
      font-size: 15px;
      line-height: 21px;
    }
  }


  &__text-not-image {
    @include sfx-col-flex(12);
    color: #777777;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: -20px;

    @include sfx-media-down(sm) {
      margin-top: 0;
    }
  }
}
