.case {
  padding: 100px 0 100px 0;
  overflow: hidden;

  @include sfx-media-down(md) {
    padding: 50px 0 50px 0;
  }

  &__img {
    overflow: hidden;
    text-align: center;
    margin: 0 0 70px 0;

    img {
      max-width: 100%;
    }
  }

  &__title {
    @include sfx-title();
    padding-bottom: 40px;
    &--center {
      text-align: center;
    }

    &.title-bold {
      font-size: 50px;
      font-weight: 700;
    }
  }

  &__title-sub {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    padding-bottom: 25px;
  }

  &__download-link {
    text-align: center;
    padding-bottom: 50px;

    a {
      max-width: 437px;
      width: 100%;
      background-color: $color-green;
      display: inline-block;
      color: $color-white;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -0.13px;
      line-height: 18px;
      padding: 12px 20px;
    }
  }
  &__text {
    @include sfx-text();
    padding-bottom: 50px;

    p {
      margin-bottom: 15px;
    }

    .black500 {
      font-weight: 500;
      color: $color-dark-lilac;
    }

    .grey500 {
      font-weight: 600;
      color: $color-lilac;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0 0 0 48px;
        min-height: 24px;
        position: relative;
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
        margin: 0 0 15px 0;

        &:after {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background: url(images/marker-check.png) no-repeat center;
          background-size: 24px 24px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &.case__three-li {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        li {
          @include sfx-col-flex(4);

          @include sfx-media-down(xl) {
            @include sfx-col-flex(12);
          }
        }
      }

      &.case__two-li {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -15px;

        li {
          @include sfx-col-flex(6);
          padding: 0 15px 0 63px;

          @include sfx-media-down(xl) {
            @include sfx-col-flex(12);
          }

          &:after {
            left: 15px;
          }
        }
      }
    }

    a {
      color: $color-green;
    }

    ol {
      counter-reset: olCounter;
      position: relative;
      margin-top: 25px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        background: $color-lilac;
        top: 20px;
        bottom: 38px;
        left: 20px;
      }

      li {
        display: flex;
        align-items: flex-start;
        list-style: none;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.3125;
        &::before {
          counter-increment: olCounter;
          content: counter(olCounter);
          color: $color-lilac;
          background: $color-white;
          border: 1px solid $color-green;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          font-size: 20px;
          line-height: 38px;
          width: 38px;
          height: 38px;
          margin-right: 22px;
          flex-shrink: 0;
          z-index: 2;
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -60px;
    padding-bottom: 20px;

    @include sfx-media-down(lg) {
      margin: 0;
    }
  }

  &__col {
    @include sfx-col-flex(6);
    padding: 0 60px;

    @include sfx-media-down(lg) {
      @include sfx-col-flex(12);
      padding: 0;
    }
  }

  &__col-4 {
    @include sfx-col-flex(4);
    padding: 0 60px;

    @include sfx-media-down(lg) {
      @include sfx-col-flex(12);
      padding: 0;
    }
  }

  &__col-8 {
    @include sfx-col-flex(8);
    padding: 0 60px;

    @include sfx-media-down(lg) {
      @include sfx-col-flex(12);
      padding: 0;
    }
  }

  &__enum {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    // @include sfx-media-down(md) {
    //   flex-wrap: wrap;
    // }
    gap: 20px;

    column-count: 3;

    div {
      padding: 0 0 0 48px;
      min-height: 24px;
      position: relative;
      font-size: 15px;
      line-height: 23px;
      font-weight: 500;
      flex: 1 1 0;

      @include sfx-media-down(md) {
        width: 100%;
        flex: 0 0 100%;
        gap: 15px;
      }

      &:after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url(/src/assets/images/icons/marker-check.svg) no-repeat
          center;
        background-size: 24px 24px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__order {
    background-color: $color-green;
    padding: 45px 60px;
    text-align: center;
    max-width: 544px;
    margin: 80px auto 0 auto;

    @include sfx-media-down(xl) {
      padding: 50px 25px;
    }

    @include sfx-media-down(md) {
      margin-top: 50px;
      min-height: auto;
    }

    @include sfx-media-down(sm) {
      padding: 40px 15px;
    }

    &-title {
      color: #ffffff;
      font-size: 28px;
      font-weight: 500;
      line-height: 40px;

      @include sfx-media-down(xl) {
        font-size: 25px;
        line-height: 30px;
      }

      @include sfx-media-down(sm) {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-text {
      color: #ffffff;
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      padding: 30px 0;

      @include sfx-media-down(xl) {
        padding: 25px 0;
      }

      @include sfx-media-down(sm) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-link {
      button {
        @include sfx-button(161px, 39px, 13px);
        border: 2px solid #ffffff;
        margin: 0 auto;
      }
    }
  }

  &-title-block__text {
    color: #f5f5f5;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    @include sfx-media-down(md) {
      font-size: 28px;
      line-height: 36px;
    }

    &-sub {
      color: #f5f5f5;
      font-size: 28px;
      font-weight: 500;
      font-style: normal;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.7px;
      padding: 0 0 40px 0;
    }
  }

  &__percent {
    &-list {
      display: flex;
      margin: 0 -15px;

      @include sfx-media-down(md) {
        flex-wrap: wrap;
      }
    }

    &-col {
      @include sfx-col-flex(4);
      padding: 0 15px;

      @include sfx-media-down(md) {
        @include sfx-col-flex(12);
        padding-bottom: 40px;
      }
    }

    &-value {
      span {
        color: $color-dark-lilac;
        font-size: 72px;
        font-weight: 500;
        line-height: 70px;
        text-align: left;
        letter-spacing: -1.8px;
        position: relative;

        @include sfx-media-down(sm) {
          font-size: 40px;
          line-height: 40px;
        }

        &:after {
          content: "";
          display: block;
          width: 31px;
          height: 31px;
          background-color: $color-green;
          border-radius: 50%;
          position: absolute;
          top: 8px;
          right: 0;
          z-index: -1;

          @include sfx-media-down(sm) {
            width: 20px;
            height: 20px;
            top: 5px;
          }
        }
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: -0.45px;
      padding: 15px 0 0 0;
    }
  }

  &__shadow-block {
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.33);
    background-color: $color-white;
    padding: 55px 70px;
    margin-bottom: 70px;

    @include sfx-media-down(sm) {
      padding: 15px 15px;
    }

    .case__text {
      padding-bottom: 0;
    }

    .case__row {
      padding-bottom: 0;
    }

    &-note {
      // color: #323332;
      font-size: 16px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: -0.4px;
      padding: 30px 0 0 0;
    }
  }

  &__row {
    .case__shadow-block {
      height: 100%;
      margin-bottom: 0;
    }
  }

  &__bg-block {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    padding-bottom: 50px;
  }

  .case__row-mb {
    .case__col {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__red-block {
    background-color: $color-green;
    padding: 100px 0;
    margin-bottom: -45px;

    @include sfx-media-down(md) {
      padding: 60px 0;
      margin-bottom: -30px;
    }

    &-title {
      display: flex;
      padding: 0 0 80px 0;

      @include sfx-media-down(md) {
        flex-wrap: wrap;
        padding: 0 0 40px 0;
      }

      &-big {
        color: #ffffff;
        font-size: 44px;
        line-height: 40px;
        font-weight: 500;
        letter-spacing: 0.22px;
        padding: 0 50px 0 0;

        @include sfx-media-down(md) {
          padding: 0 0 30px 0;
          font-size: 36px;
        }

        @include sfx-media-down(sm) {
          font-size: 30px;
          line-height: 36px;
        }
      }

      &-text {
        // color: #f5f5f5;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.4px;
      }
    }

    .case__row {
      padding-bottom: 0;
    }

    .case__text {
      padding-bottom: 0;

      ul {
        li {
          // color: #f5f5f5;
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: -0.45px;

          &:after {
            background-image: url(/src/assets/images/icons/marker-check.svg);
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__list-number {
    div {
      padding: 0 0 20px 48px;
      position: relative;

      &:last-child {
        padding-bottom: 0;
      }

      span {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: $color-green;
        // color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }

  .case__col-image {
    @include sfx-media-down(lg) {
      padding-top: 30px;
      text-align: center;
    }

    &.b--abs {
      position: relative;

      @include sfx-media-down(lg) {
        position: static;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: none;
        max-height: none;

        @include sfx-media-down(lg) {
          position: static;
        }
      }
    }

    &.b--left {
      img {
        left: auto;
        right: 0;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;

      @include sfx-media-down(lg) {
        max-width: 600px;
        width: 100%;
      }
    }
  }

  .case__col-text {
    @include sfx-text();
    padding-bottom: 50px;

    @include sfx-media-down(md) {
      padding-bottom: 30px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    p {
      // color: #777777;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 15px;

      &.black500 {
        font-weight: 500;
        color: $color-dark-lilac;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        position: relative;
        padding: 0 0 0 15px;
        margin: 0 0 3px 0;
        // color: #777;
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;

        &:after {
          content: "•";
          position: absolute;
          top: -1px;
          left: 0;
        }
      }
    }
  }

  &__background-block {
    border-radius: 20px;
    border: 1px solid $color-white;
    background: $color-light-gray;
    padding: 40px 65px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    // color: #101010;

    @include sfx-media-down(md) {
      padding: 15px 15px;
    }

    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      // color: #101010;
    }
  }
}

.page-bottom__portfolio-title {
  // color: #101010;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  text-transform: uppercase;
  padding: 40px 0 40px 0;
}

.case-wrap {
  padding: 150px 0 0;
}

.case-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.case-works__item {
  display: flex;
  column-gap: 20px;
}

.case-works__icon--box {
  flex-shrink: 0;
}

@import "case-clothes";
@import "case-plants";
@import "case-underwear";
@import "case-spares";
@import "case-soap";
@import "case-chatbot";
@import "case-10";
@import "case-11";
@import "case-9";
@import "case-8";
@import "case-7";
@import "case-6";
@import "case-5";
@import "case-4";
@import "case-3";
@import "case-2";
@import "case-1";
@import "case-hotel";
@import "case-papilio";
@import "case-casemir";
@import "case-korovski";
@import "case-boll";
@import "case-smart-inspect";
@import "case-ar-aim";
@import "case-varnish";
@import "case-gtc";
@import "case-nobel";
@import "case-technobearing";
@import "case-letech";
@import "case-farmsintez";
