.main-promo {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-promo_wrapper {
  display: flex;
  padding: 144px 0 180px;
}

.main-promo_description {
  padding-top: 188px;
  flex-shrink: 0;
  width: 900px;
}

.main-promo_image {
  margin-left: -70px;
  padding: 30px 0 0;
  height: 690px;
}

.main-promo_title {
  margin-bottom: 85px;
}

.main-promo_subtitle {
  max-width: 490px;
}

.main-promo_arrow-to-bottom {
  display: block;
  position: absolute;
  bottom: 65px;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  rotate: 45deg;
  transform: translate(-50%, -50%);
}

@include desktop {
  .main-promo_wrapper {
    padding: 144px 0 150px;
  }
  .main-promo_description {
    padding: 86px 75px 0;
    letter-spacing: -1.1px;
  }

  .main-promo_title {
    margin-bottom: 70px;
  }

  .main-promo_subtitle {
    max-width: 380px;
  }

  .main-promo_image {
    margin-left: 0;
    padding: 0;
    position: absolute;
    right: -30px;
    bottom: 0px;
    z-index: -1;
  }

  .main-promo_arrow-to-bottom {
    bottom: 4px;
  }
}

@include small-desktop {
  .main-promo_image {
    width: 570px;
  }
}

@include small-tablet {
  .main-promo {
    .container {
      padding: 0 70px;
    }
  }
  .main-promo_wrapper {
    padding: 144px 0 230px;
  }

  .main-promo_description {
    padding: 95px 45px 0 86px;
    width: auto;
    flex-shrink: unset;

    letter-spacing: -0.56px;
  }

  .main-promo_title {
    margin-bottom: 45px;
  }

  .main-promo_subtitle {
    max-width: 315px;
    line-height: normal;
    margin: 45px 0;
  }

  .main-promo_arrow-to-bottom {
    bottom: 0px;
    margin: 0 0 0 17px;
  }

  .main-promo_image {
    right: -170px;
    top: 70px;
  }
}

@include mobile {
  .main-promo {
    .container {
      padding: 0 30px;
    }
  }
  .main-promo_wrapper {
    padding: 54px 0 110px;
  }

  .main-promo_description {
    padding: 95px 0 55px;
  }

  .main-promo_title {
    margin-bottom: 28px;
    letter-spacing: 0;
  }

  .main-promo_subtitle {
    margin: 28px 0;
    letter-spacing: 0;
  }

  .main-promo_image {
    height: auto;
    width: 370px;

    right: -155px;
    top: unset;
    bottom: 0;
  
  }
}
