.section__reviews {
  position: relative;
  padding: 0 0 90px;

  h2 {
    text-align: center;
    margin: 35px 0;
  }
}

.section__reviews .main-section_part-2 {
  padding: 24px 0;
  margin: 0 auto;
  max-width: 540px;

  .main-section_part-2_text {
    text-align: center;

    font-size: 23px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: 0;
    color: $lilac;

    transition: all 0.3s;

    &:hover {
      color: #3e496a;
    }

    a {
      display: block;
    }
  }
}

@include desktop {
  .section__reviews {
    padding: 0 0 82px;
    h2 {
      margin: 56px 0;

      font-size: 64px;
    }

    .main-section_part-2 {
      padding: 45px 0 0;
    }
  }
}

@include small-tablet {
  .section__reviews {
    padding: 0 0 70px;
    .main-section_part-2 {
      .main-section_part-2_text {
        max-width: 420px;
        margin: 0 auto;

        font-size: 19.773px;
        line-height: normal;
      }
    }
  }
}

@include mobile {
  .section__reviews {
    padding: 0 0 106px;
    h2 {
      margin: 10px 0;
      font-size: 32px;
      line-height: 1.71875;
    }

    .main-section_part-2 {
      padding: 75px 0 0;
      .main-section_part-2_text {
        max-width: 280px;
        font-size: 19.773px;
        line-height: normal;
      }
    }
  }
}
