.section__statistics {
  position: relative;

  .main-block-decor {
    position: absolute;
    top: 0;
    left: -306px;
    max-width: 807px;
    z-index: -1;

    img {
      max-width: 100%;
    }
  }

  .main-section_desc {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.1px;

    span {
      color: $lilac;
    }
  }
}

.section__statistics .main-section_content-wrapper {
  width: 870px;
  margin: 0 0 0 auto;
  padding: 140px 0 10px 0;
}

@include desktop {
  .section__statistics {
    .main-block-decor {
      left: -44px;
      width: 45%;
    }
    .main-section_content-wrapper {
      max-width: 500px;
      padding: 65px 0 4px 0;
    }
    .main-section_desc {
      font-size: 24px;
      line-height: 1.22;
    }

    .before {
      .part-1 {
        width: calc(100% - 35px);
        height: 35px;
        margin-left: 35px;

        border-radius: 20px 30px 0 0;

        &::before {
          border-radius: 20px 30px 0 0;
        }
      }

      .part-2 {
        height: calc(100% - 35px);
        border-radius: 20px 0 30px 30px;

        &::before {
          border-radius: 20px 0 30px 30px;
        }
      }

      .part-3 {
        width: 23px;
        left: 12px;
        top: 12px;
      }
    }

    .card-element__green,
    .card-element__orange,
    .card-element__red,
    .card-element__violet {
      &::after {
        top: 10px;
        height: 16px;
        top: 7px;
        left: 5px;
      }
    }
  }
}

@include small-tablet {
  .section__statistics {
    .container {
      padding: 0 70px;
    }
    .main-block-decor {
      left: -164px;
      width: 475px;
      top: 24px;
    }

    .main-section_content-wrapper {
      max-width: 416px;
      padding: 62px 0 78px 0;
    }

    .main-section_desc {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

@include mobile {
  .section__statistics {
    .container {
      padding: 0 30px;
    }

    .main-section_content-wrapper {
      margin: 0;
      max-width: unset;
      width: unset;
      padding: 16px 0 25px 0;
    }
    .main-section_desc {
      padding: 0 4px;
      font-size: 16px;
      line-height: normal;
    }
  }
}
