.section__stages {
  padding: 62px 0;

  h2 {
    text-align: center;
  }

  .main-block-decor {
    position: absolute;
    bottom: -190px;
    right: -240px;
    z-index: -2;
  }

  @include desktop {
    padding: 32px 0;

    .main-block-decor {
      bottom: -119px;
      right: -154px;
      width: 670px;

      img {
        width: 100%;
      }
    }
  }

  @include small-tablet {
    padding: 42px 0 87px;

    .main-block-decor {
      display: none;
    }

    .card-element__green,
    .card-element__orange,
    .card-element__violet,
    .card-element__red {
      &::after {
        top: 5px;
        left: 14px;
        height: 20px;
      }
    }

    .before {
      .part-1 {
        height: 39px;
      }

      .part-2 {
        height: calc(100% - 39px);
      }

      .part-3{
        top: 14px;
      }
    }
  }

  @include mobile {
    padding: 15px 0 31px;
  }
}
