.analitic {

  .steps-block {
    padding-bottom: 50px;

    @include sfx-media-down(xl) {
      padding-bottom: 0;
    }

    &__col {
      @include sfx-col-flex(4);

      @include sfx-media-down(lg) {
        @include sfx-col-flex(6);
      }

      @include sfx-media-down(md) {
        @include sfx-col-flex(12);
      }
    }
    &__text {
      color: #727272;
    }
  }

  .positive-block {
    padding-top: 80px;

    &__info {
      padding-bottom: 50px;
    }
  }

  .positive-block.analitic-positive {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 0;

    @include sfx-media-down(xl) {
      padding-top: 50px;
    }

    @include sfx-media-down(md) {
      padding-bottom: 40px;
    }

    .c-col {
      @include sfx-col-flex(6);

      @include sfx-media-down(md) {
        @include sfx-col-flex(12);
      }
    }

    .positive-block__item-title {
      font-size: 16px;
      line-height: 20px;
    }

    .positive-block__item-text {
      padding-top: 20px;
    }
  }

}